<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script src="script4.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="index4.css">
    <title>Resume Template</title>

</head>
<body>
    <section class="main-section">
    <div id="container">
        <div class="YourName">
            <div class="YourNAme-container">
                <h1>Your Name</h1>
            </div>
        <div class="City,state">
            <div class="city-container,state-container">
                <h2>City, State</h2>
        </div>
        <div class="Phone Number,Email,LinkedIn,Github">
            <div class="Phone Number-container,Email-container,LinkedIn-container,Github_container">
            <pre>         <i class="fa-solid fa-phone"></i>&nbsp;<b>Phone Number</b>&nbsp;                   <i class="fa-solid fa-envelope"></i>&nbsp;<b>Email</b>&nbsp;                                    <i class="fa-brands fa-linkedin"></i>&nbsp;<b>LinkedIn</b>&nbsp;                  <i class="fa-brands fa-github"></i>&nbsp;<b>Github Id</b></pre>
            </div>
        </div>
        <div class="Education">
            <div class="Education-container">
                <h3><b><font size="+1"><pre>      Education</pre></font></b></h3>
            </div>
        </div>
        <div class="hr">
            <div class="hr-container">
                <hr>
            </div>
        </div>
        <div class="College Name,city,state,degree name,state,country">
            <div class="College Name-container,city-container,state-container,[MM/YY - MM/YY]-container,degree name-container,state-container,country-container">
                <p><pre>       College Name, city, state &nbsp;                                                                                              [MM/YY - MM/YY] <br>       Degree Name&nbsp;                                                                                                              State, Country</pre></p>   
                <p><pre>       College Name, city, state &nbsp;                                                                                              [MM/YY - MM/YY] <br>       Degree Name&nbsp;                                                                                                              State, Country</pre></p>        
            </div>
        </div>
        <div class="Experience">
            <div class="Experience-container">
                <h3><b><font size="+1"><pre>      Experience</pre></font></b></h3>
            </div>
        </div>
        <div class="hr">
            <div class="hr-container">
                <hr>
            </div>
        </div>
    <div class="I Neuron,[MM/YY - MM/YY],Machine Learning Engineer Intern,Banglore, India">
        <div class="I Neuron-container,[MM/YY - MM/YY]-container,Machine Learning Engineer Intern-container,Banglore, India-container">
            <p><pre>       I Neuron&nbsp;                                                                                                                 [MM/YY -MM/YY]<br>       Machine learning Engineer Intern                                                                                         Banglore, India</pre></p>    
        </div>
    </div>
    <div class="• Engineered a captivating web application tailored for mushroom classification, meticulously conducting optimization
        experiments to heighten the accuracy of diverse machine learning models.,• The web app was skillfully designed using Flask, harnessing the power of libraries such as Numpy, Pandas, and
        Sci-kit-learn. To ensure utmost flexibility and easy deployment, the entire application was containerized using Docker.">
             <div class="• Engineered a captivating web application tailored for mushroom classification, meticulously conducting optimizationexperiments to heighten the accuracy of diverse machine learning models.-container,• The web app was skillfully designed using Flask, harnessing the power of libraries such as Numpy, Pandas, andSci-kit-learn. To ensure utmost flexibility and easy deployment, the entire application was containerized using Docker.-container">
                  <p><pre>       • Engineered a captivating web application tailored for mushroom classification, meticulously conducting<br>         optimization experiments to heighten the accuracy of diverse machine learning models.<br>       • The web app was skillfully designed using Flask, harnessing the power of libraries such as Numpy, PandasSci-kit-learn. <br>         To ensure utmost flexibility and easy deployment, the entire application was containerized using Docker.</pre></p>
             </div>
    </div>
     <div class="Projects">
        <div class="Projects-container">
            <h3><b><font size="+1"><pre>      Projects</pre></font></b></h3>
        </div>
    </div>
    <div class="hr">
        <div class="hr-container">
            <hr>
        </div>
    </div>
    <div class="Project Name,Technologies Used,clickable link">
        <div class="Project Name-container,Technologies Used-container,clickable link-container">
            <p><pre>       Project Name|Technologies used|clickable link</pre></p>
        </div>
    </div>
    <div class="Ocular Disease Screening, Keras, Tenserflow, python, Clickable Link">
        <div class="Ocular Disease Screening-container, Keras, Tenserflow, python-container, Clickable Link-container">
            <p><pre>       Ocular Disease Screening | Keras, Tenserflow, python | Clickable Link</pre></p>
        </div>
    </div>
    <div class="•Developed an advanced deep learning model for Ocular Disease Screening, achieving accurate predictions for six eye diseases. The implementation resulted in substantial time savings of up to 60% for doctors., • Enabled efficient diagnosis by precisely identifying patients with normal fundus effectively eliminating the need for unnecessary retinopathy check-ups.">
    <div class="•Developed an advanced deep learning model for Ocular Disease Screening, achieving accurate predictions for six eye diseases. The implementation resulted in substantial time savings of up to 60% for doctors.-container, • Enabled efficient diagnosis by precisely identifying patients with normal fundus effectively eliminating the need for unnecessary retinopathy check-ups.-container">
        <p><pre>       • Developed an advanced deep learning model for Ocular Disease Screening, achieving accurate predictions for six<br>         eye diseases. The implementation resulted in substantial time savings of up to 60% for doctors.<br>       • Enabled efficient diagnosis by precisely identifying patients with normal fundus, effectively eliminating the need<br>         for unnecessary retinopathy check-ups.</pre></p>
    </div>
    </div>
    <div class="CropVana, Flutter, Firebase, TFX, Clickable Link">
        <div class="CropVana-container, Flutter, Firebase, TFX-container, Clickable Link-container">
            <p><pre>       CropVana | Flutter, Firebase, TFX | Clickable Link</pre></p>
        </div>
    </div>
    <div class="• Developed mobile app that significantly impacted farmers by enabling informed decision-making, resulting in increased crop yields, optimized resource allocation, and improved economic outcomes., • Utilized advanced technologies, including web scraping, TFX-based data pipeline, and Firebase backend, to revolutionize agricultural practices.">
        <div class="• Developed mobile app that significantly impacted farmers by enabling informed decision-making, resulting in increased crop yields, optimized resource allocation, and improved economic outcomes.-container, • Utilized advanced technologies, including web scraping, TFX-based data pipeline, and Firebase backend, to revolutionize agricultural practices.-container">
            <p><pre>       • Developed mobile app that significantly impacted farmers by enabling informed decision-making, resulting in<br>         increased crop yields, optimized resource allocation, and improved economic outcomes.<br>       • Utilized advanced technologies, including web scraping, TFX-based data pipeline, and Firebase backend, to<br>         revolutionize agricultural practices.</pre></p>
        </div>
    </div>
    <div class="">
        <div class="Air Doodle | Microsoft 365, Teams Tenant, HTML | Clickable Link-container">
            <p><pre>       Air Doodle | Microsoft 365, Teams Tenant, HTML | Clickable Link</pre></p>
        </div>
    </div>
    <div class="• Designed and implemented a whiteboard Teams tab app with text-to-image doodle functionality, leveraging OpenAI’s API to enhance productivity in Online Meetings.">
        <div class="• Designed and implemented a whiteboard Teams tab app with text-to-image doodle functionality, leveraging OpenAI’s API to enhance productivity in Online Meetings.-container">
            <p><pre>       • Designed and implemented a whiteboard Teams tab app with text-to-image doodle functionality, leveraging<br>         OpenAI’s API to enhance productivity in Online Meetings.</pre></p>
        </div>
    </div>
    <div class="">
        <div class="Extracurricular-container">
            <h3><b><font size="+1"><pre>      Extracurricular</pre></font></b></h3>
        </div>
    </div>
    <div class="hr">
        <div class="hr-container">
            <hr>
        </div>
    </div>
    <div class="EXECOM at IEEE Computer Intelligence Society, GHRCE,EXECOM at IEEE Computer Society, GHRCE,Taught Machine Learning to 200+ International audience at Bootcamp conducted by Jarvis, GHRCE,Led a team of 9 to conduct a game GoAlgo in the event AI Odyssey">
        <div class="EXECOM at IEEE Computer Intelligence Society, GHRCE-container,EXECOM at IEEE Computer Society, GHRCE-container,Taught Machine Learning to 200+ International audience at Bootcamp conducted by Jarvis, GHRCE-container,Led a team of 9 to conduct a game GoAlgo in the event AI Odyssey-container">
            <p><pre>       •EXECOM at IEEE Computer Intelligence Society, GHRCE<br>       •EXECOM at IEEE Computer Society, GHRCE<br>       •Taught Machine Learning to 200+ International audience at Bootcamp conducted by Jarvis, GHRCE<br>       •Led a team of 9 to conduct a game GoAlgo in the event AI Odyssey</pre></p>
        </div>
    </div>
    <div class="Technical skills">
        <div class="Technical skills-container">
            <h3><b><font size="+1"><pre>      Technical skills</pre></font></b></h3>
        </div>
    </div>
    <div class="hr">
        <div class="hr-container">
            <hr>
        </div>
    </div>
    <div class="Programming: Dart, C++, Python,Development: HTML, CSS, Flutter,Backend: Firebase, Appwrite, Azure,Technologies/Frameworks/Libraries: Flask, Open CV, Keras, Scikit-learn, Pandas, Tensorflow, TFX, Matplotlib">
        <div class="Programming: Dart, C++, Python-container,Development: HTML, CSS, Flutter-container,Backend: Firebase, Appwrite, Azure-container,Technologies/Frameworks/Libraries: Flask, Open CV, Keras, Scikit-learn, Pandas, Tensorflow, TFX, Matplotlib-container">
            <p><pre>       Programming: Dart, C++, Python<br>       Development: HTML, CSS, Flutter<br>       Backend: Firebase, Appwrite, Azure<br>       Technologies/Frameworks/Libraries: Flask, Open CV, Keras, Scikit-learn, Pandas, Tensorflow, TFX, Matplotlib</pre></p>
        </div>
    </div>
    <div class="Publications">
        <div class="Publications-container">
            <h3><b><font size="+1"><pre>      Publications</pre></font></b></h3>
        </div>
    </div>
    <div class="hr">
        <div class="hr-container">
            <hr>
        </div>
    </div>
    <div class="An IOT Enabled Smart Gardening System as a novel approach to Environmental Education International IEEE Conference RESM 2023, NIT Bhopal, May 17, 2023.,Utilized advanced technologies, including web scraping, TFX-based data pipeline, and Firebase backend, to the support and assistance provided to visually impaired individuals.">
        <div class="An IOT Enabled Smart Gardening System as a novel approach to Environmental Education International IEEE Conference RESM 2023, NIT Bhopal, May 17, 2023.-container,Utilized advanced technologies, including web scraping, TFX-based data pipeline, and Firebase backend, to the support and assistance provided to visually impaired individuals.-container">
            <p><pre>       •An IOT Enabled Smart Gardening System as a novel approach to Environmental Education International IEEE<br>        Conference RESM 2023, NIT Bhopal, May 17, 2023.<br>       •Utilized advanced technologies, including web scraping, TFX-based data pipeline, and Firebase backend, to<br>        the support and assistance provided to visually impaired individuals.</pre></p>
        </div>
    </div>
    
    </section>
    <script>
        var jsPDF= document.getElementById("container");
      html2pdf(container,{

            filename:'Resume Template.pdf',
            image:{type:'jpeg',quality:0.98},
           jsPDF:{unit:'mm',format:'a4',orientation:'l'},
            function(pdf){pdf.save('Resume Template.pdf');}
            
            
        })
    </script>
        
   
    </body>

</html>